:root {
    --text-color: #1a1c20;
    --link-color: #1115ea;
    --background-color: #fdfeff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: var(--background-color);
}

header {
    margin-left: 100px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR Section*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 50px;
    height: 80px;
    background-color: var(--background-color);
}

nav .right {
    display: flex;
    gap: 20px;
}   


main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
}